= link_to good_path(good.id) do
  .top_ca__ca_block__box__small_box
    .top_ca__ca_block__box__small_box__image
      =image_tag good.images[0].image, size: "188x188", alt: "text", class: "img-box"
      .top_ca__ca_block__box__small_box__price
        %span
          ¥
        = good.price.to_s(:delimited)
    .top_ca__ca_block__box__small_box__message
      = good.name