.toppage
  .top_image
  .top_popularity_ca
    %h2.top_popularity_ca__title 人気のカテゴリー
    %ul.top_popularity_ca__tags
      %li.top_popularity_ca__tags__tag
        = link_to "レディース", root_path
      %li.top_popularity_ca__tags__tag
        = link_to "メンズ", root_path
      %li.top_popularity_ca__tags__tag
        = link_to "家電・スマホ・カメラ", root_path
      %li.top_popularity_ca__tags__tag
        = link_to "おもちゃ・ホビー・グッズ", root_path
  .top_ca
    .top_ca__ca_block
      .top_ca__ca_block__title
        レディース新着アイテム
        .top_ca__ca_block__name    
        .top_ca__ca_block__more_see
          もっと見る
      .top_ca__ca_block__box
        .top_ca__ca_block__box__small_box
          .top_ca__ca_block__box__small_box__image
            .top_ca__ca_block__box__small_box__price
              
          .top_ca__ca_block__box__small_box__message
            こんにちわ