.toppage
  .top_image
  .top_popularity_ca
    %h2.top_popularity_ca__title 人気のカテゴリー
    %ul.top_popularity_ca__tags
      %li.top_popularity_ca__tags__tag
        = link_to "レディース", root_path
      %li.top_popularity_ca__tags__tag
        = link_to "メンズ", root_path
      %li.top_popularity_ca__tags__tag
        = link_to "家電・スマホ・カメラ", root_path
      %li.top_popularity_ca__tags__tag
        = link_to "おもちゃ・ホビー・グッズ", root_path
  .top_categories
    %h3.top_categories_ca__title レディース新着アイテム
    %h4.top_categories_ca__seemore もっと見る
    
  %ul.top_categories_ca_tags
    %li.top_categories_ca_tags__tag



  