body {
font-family: 'Source Sans Pro;',Helvetica , Arial, '游ゴシック体','YuGothic', 'メイリオ', 'Meiryo', sans-serif;
color: #333;


  .l-container.cleafix {
    margin: 24px auto 0;
    padding: 0 0 40px;
    border-style: solid;
    border-width: 0;
    .l-content.full-width {
      width: 100%;
      padding: 0;
    }
    .parts-nav.cleafix {
      margin: 0 40px;
      list-style: none;

      a {
        color: #0099e8;
      }
    }
  }
}