.category {
  margin: 40px auto 0;
  width: 1020px;
  
   .large--box {
     width: 100%;
     .large--box--top {
       margin: 0;
       list-style: none;
     }
       .large--box--top li {
         display: inline-block;
         margin: 16px 16px 0 0;
      }
     &--middle {
       font-size: 22px;
       font-weight: bold;
       margin: 24px 0 8px;
     }
   }
   .page {
     margin: 40px 0 0;
     display: flex;
     text-align: center;
     &--num {
       max-width: 220px;
       margin: 0 auto;
       list-style: none;
       font-size: 0;
       margin-left: calc(50% - 110px);

     }
     &--choose {
      display: inline-block;
      width: 42px;
      height: 42px;
      border-radius: 4px;
      background: #fff;
      border: 1px solid #ccc;
      font-size: 14px;
      line-height: 42px;
     }
     &--choose__active {
      color: #fff;
      background: #ea352d;
      display: inline-block;
      width: 42px;
      height: 42px;
      border-radius: 4px;
      border: 1px solid #ccc;
      font-size: 14px;
      line-height: 42px;
     }
     .page--next {
      display: block;
      font-size: 0;
      &__1btn {
        display: inline-block;
        width: 42px;
        height: 42px;
        border-radius: 4px;
        border: 1px solid #ccc;
        font-size: 14px;
        line-height: 42px;
      }
      &__2btn {
        display: inline-block;
        width: 42px;
        height: 42px;
        border-radius: 4px;
        border: 1px solid #ccc;
        font-size: 14px;
        line-height: 42px;
      }
     }
   }
   .category--name {
     margin-top: 40px;
     margin-bottom: 40px;
     &__box {
       text-align: center;
       background: #ea352d;
       &__text {
         padding: 16px 8px;
         font-size: 22px;
         font-weight: bold;
         color: #fff;
       }
     }
     &__suggest {
       padding: 30px;
       background: #fff;
       line-height: 1.6em;
     }
   }
}