.single_header2{
  height: 128px;
  width: 750px;
  margin: 0 auto;
  display: flex;
  &__link__img{
    margin-top:40px;
  }
  .new-nav{
    height: 32px;
    width: 490px;
    padding: 35px 0 0 60px;
    ol{
      display: flex;
      justify-content: space-between;
      position: relative;
      font-size: 12px;
      color: gray;
      .adress{
        position: absolute;
        left: 200px;
      }
      .pay{
        position: absolute;
        left:330px;
      }
      .phone{
        position: absolute;
        left:100px;
      }
    }
    ol:before {
      content: '';
      position: absolute;
      left: 51%;
      bottom: -20px;/*線の上下位置*/
      display: inline-block;
      width: 455px;/*線の長さ*/
      height: 2px;/*線の太さ*/
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);/*位置調整*/
      background-color: gray;/*線の色*/
    }
    ul{
      display: flex;
      width: 470px;
      justify-content: space-between;
      margin: 9px 6px 0 14px;
      color: gray;
      font-size:14px
    }
  }
}
.user-new{
  &__main{
    width: 700px;
    height: 100%;
    margin:0 auto;
    background-color: #fff;
    &__text{
      height: 33px;
      padding: 32px;
      text-align: center;
      font-size: 22px;
      font-weight: bold;
      border-bottom: 1px solid rgb(245, 245, 245);  
    }
    &__form{
      width: 668px;
      padding: 24px 16px 40px;
      &__content{
        width: 347px;
        height: 100%;
        margin: 0 auto;
        &__text{
          display: flex;
          &__nickname{
            width: 309px;
            height: 28px;
            padding:10px 16px 8px;
            margin-top: 8px;
            border: 1px solid #ccc;
            border-radius:3px;
          }
        }
        .item{
          margin-top: 20px;
        }
        .caution-text{
          color:gray;
          font-size: 14px;
          margin-top:8px;
        }
        #user_password{
          margin-top:13px;
        }
        .current-user{
          height: 87px;
          margin-top: 24px;
          &__text{
            font-weight: bold;
          }
          &__main{
            font-size: 14px;
            margin-top: 8px;
          }
        }
        .user-name{
          height: 70px;
          margin-top: 24px;
          &__kanji{
            margin-top: 8px;
            #user_family_name{
              height: 28px;
              width: 131.5px;
              padding: 10px 16px 8px;
              margin-right: 8px;
              border: 1px #ccc solid;
              border-radius:6px;
            }
            #user_first_name{
              height: 28px;
              width: 131.5px;
              padding: 10px 16px 8px;
              border: 1px #ccc solid;
              border-radius:6px;
            }
          }
        }
        .user-kana{
          margin-top: 24px;
          #user_family_kana{
            height: 28px;
            width: 131.5px;
            padding: 10px 16px 8px;
            margin-top: 8px;
            margin-right: 8px;
            border: 1px #ccc solid;
            border-radius:6px;
          }
          #user_first_kana{
            height: 28px;
            width: 131.5px;
            padding: 10px 16px 8px;
            margin-top: 8px;
            border: 1px #ccc solid;
            border-radius:6px;
          }
        }
        .birthday{
          margin-top: 24px;
          #user_birthday_year{
            height: 48px;
            width: 76px;
            margin-top: 8px;
            border: 1px #ccc solid;
            border-radius: 3px;
            margin-bottom: 10px;
          }
          #user_birthday_month{
            height: 48px;
            width: 76px;
            margin-top: 8px;
            border: 1px #ccc solid;
            border-radius: 3px;
            margin-bottom: 10px;
          }
          #user_birthday_date{
            height: 48px;
            width: 76px;
            margin-top: 8px;
            border: 1px #ccc solid;
            border-radius: 3px;
            margin-bottom: 10px;
          }
          &__caution{
            color: red;
            font-size: 14px;
          }
        }
        .user-caution{
          margin-top: 8px;
          color:gray;
          font-size: 14px;
        }
      }
    }
    .step1-next{
      height: 237px;
      margin-top: 40px;
      &__text{
        font-size: 14px;
        text-align: center;
      }
      &__btn{
        height: 48px;
        margin-top: 24px;
        background-color:#ea352d;
        text-align: center;
        color:white;
        line-height: 48px;
      }
      .about-register{
        height: 21px;
        margin-top: 24px;
        text-align: right;
        color:skyblue;
        font-size: 14px;
      }
      .english{
        height: 36px;
        width: 311px;
        padding: 8px 16px;
        margin-top: 24px;
        background-color:rgb(245, 245, 245);
        font-size: 11px;
        color:gray;
      }
    }
  }
}

.red2{
  background-color: red;
  border-radius: 3px;
  font-size: 12px;
  color: #fff;
  height: 18px;
  width: 30px;
  text-align: center;
}
.check-text{
  font-size: 14px;
  margin-left: 5px;
}