.todo {
  margin: 40px auto 0;
  width: 1020px;
  padding: 0 0 40px;
  display: flex;
  &--box {
    background: #eee;
    &__notice {
      display: inline-block;
      padding: 20px 129px;
    }
      &__list {
        background: #fff;
        border-top: 2px solid #ea352d;
        display: inline-block;
        padding: 20px 130px ;
      }
      &__img{
        background-color: #fff;
        height: 1250px;
      }
   }
   .myside {
    width: 280px;
    margin: 0 40px 0 0;
    list-style: none;
    &--top {
      &__list{
        &:hover{
          position: relative;
          display: block;
          display: flex;
          justify-content: space-between;
          padding: 16px;
          background: rgb(248, 248, 248);
          color: #333;
          .fa-chevron-right{
            font-size: 16px;
            color: #333;
            position: absolute;
            right: 14px;
            transition-property: position;
            transition-duration: 0.2s;
          }
        }
        font-size: 14px;
        position: relative;
        display: block;
        display: flex;
        justify-content: space-between;
        padding: 16px;
        background: #fff;
        color: #333;
        border-top: 1px solid #eee;
        &__active {
          font-weight: 600;
          position: relative;
          display: block;
          display: flex;
          justify-content: space-between;
          padding: 16px;
          background: #eee;
          color: #333;
        }
      .fa-chevron-right{
        color: rgb(204, 204, 204);
        font-size: 16px;
      }
      }
    }
    &--while {
      margin: 40px 0 0;
      font-weight: bold;
      &__list {
        &:hover{
          cursor: pointer;
          position: relative;
          display: block;
          display: flex;
          justify-content: space-between;
          padding: 16px;
          background: rgb(248, 248, 248);
          color: #333;
          .fa-chevron-right{
            font-size: 16px;
            color: #333;
            position: absolute;
            right: 14px;
            transition-property: position;
            transition-duration: 0.2s;
          }
        }
        font-weight: normal;
        position: relative;
        display: block;
        display: flex;
        justify-content: space-between;
        padding: 16px;
        background: #fff;
        font-size: 14px;
        color: #333;
        border-top: 1px solid #eee;
      }
      .fa-chevron-right{
        color: rgb(204, 204, 204);
        font-size: 16px;
      }
    }
    &--under {
      margin: 40px 0 0;
      font-weight: bold;
      &__list {
        &:hover{
          position: relative;
          display: block;
          display: flex;
          justify-content: space-between;
          padding: 16px;
          background: rgb(248, 248, 248);
          color: #333;
          .fa-chevron-right{
            font-size: 16px;
            color: #333;
            position: absolute;
            right: 14px;
            transition-property: position;
            transition-duration: 0.2s;
          }
        }
        font-weight: normal;
        position: relative;
        display: block;
        display: flex;
        justify-content: space-between;
        padding: 16px;
        background: #fff;
        font-size: 14px;
        color: #333;
        border-top: 1px solid #eee;
        &__active {
          font-weight: 600;
          position: relative;
          display: block;
          display: flex;
          justify-content: space-between;
          padding: 16px;
          background: #eee;
          color: #333;
          i{
            font-size: 16px;
            color: #333;
          }
        }
        .fa-chevron-right{
          color: rgb(204, 204, 204);
          font-size: 16px;
        }
      }
    }
  }
}
