.top_image{
  height: 390px;
  width: 100vw;
  background-image: url(image.jpg);
  background-size: cover;
}
.top_popularity_ca{
  padding: 56px 0px 30px;
   &__title{
     text-align: center;
     margin-bottom: 16px;
     font-size: 28px;
   }
   &__tags{
     text-align: center;
     &__tag{
      background-color: rgb(239, 239, 239);
      cursor: pointer;
      display: inline-block;
      font-size: 18px;
      font-weight: 600;
      border-radius: 15px;
      padding: 8px 16px;
      vertical-align: baseline;
      &__tag li,a{
        color: black;
        text-decoration: none;
      }
    }
   }
}
.top_ca{
 
  &__ca_block{
    padding: 10px 0 60px;
    margin-bottom: 30px;
    margin: 0 200px;
  
    &__title{

      font-size:24px;
      font-weight: 600;
      position: relative;
        
      .top_ca__ca_block__name{
        padding: 5px 16px 5px 5px;
        font-size: 17px;
        display:flex;
        margin-bottom:16px;
      }
      
      .top_ca__ca_block__more_see{
        bottom: 15px;
        right: 5px;
        font-size:15px;
        position: absolute;
        color: rgb(0, 149, 238);
        cursor: pointer;
        &_see a{
          color: rgb(0, 149, 238);
        }
      }
    }
    &__box{

      text-decoration: none;
      display: block;
      height: 550px;
      width: 1070px;
    
      &__small_box{

        margin: 0 12px 12px 0;
        box-sizing: border-box;
        display: inline-block;
        justify-content: space-between;
        

        .top_ca__ca_block__box__small_box__image{
          
          overflow: hidden;
          height:188px;
          position: relative;
          width: 188px;
          

          .top_ca__ca_block__box__small_box__price{
            align-items: center;
            background: rgba(0,0,0,0.3);
            border-radius: 0 14px 14px 0;
            bottom: 8px;
            box-sizing: border-box;
            color: #ffff;
            
            font-size: 17px;
            height: 28px;
            letter-spacing: .02em;
            margin: 0;
            padding: 0 12px;
            position: absolute;
            z-index: 2;
          }
        }
        &__message{
          box-sizing: border-box;
          font-size: 14px;
          height: 58px;
          padding:0 12px;
          background-color: white;
          width:188px;
        }
      }
    }
  } 
}
.image-footer{
  background-image: url(footer2.png);
  background-size:cover;
  height: 260px;
  width: 1440px;
  border-top: solid 1px rgb(245, 245, 245);
  position: relative;
  z-index: 0;
  &__container{
    height: 260px;
    width: 750px;
    margin: 0 auto;
    display: flex;
    &__text{
      height: 260px;
      width: 417px;
      .text1{
        font-weight: bold;
        font-size: 24px;
        color: white;
        margin-top: 40px;
      }
      .text2{
        font-size: 35px;
        color: white;
      }
      &__link{
        margin-top: 15px;
        display: flex;
        .icon-img{
          width: 68px;
          height: 68px;
          border-radius: 10px;
          margin-right: 20px;
        }
        .icon-img2{
          width: 150px;
          height: 50px;
          border-radius: 6px;
          margin-right: 10px;
          margin-top: 12px;
        }
        .icon-img3{
          width: 170px;
          height: 75px;
          border-radius: 6px;
        }
    }
    }
    &__img{
      height: 260px;
      width: 300px;
    }
  }
}
.image-footer::before{
  z-index: -1;
  content: '';
  position: absolute;
  /* 輪郭がぼやけてしまうのでブラー範囲を広げる */
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
  background: inherit;
  filter: blur(1px);
}








.top-footer{
  height: 369px;
  width: 1400px;
  padding: 18px 20px 10px;
  background-color:rgb(34, 34, 34);
  &__linkbox{
    height: 296px;
    width: 1020px;
    margin: 0 auto;
    // background-color: red;
    display: flex;
    color:#ccc;
    &__about{
      width: 167px;
      height: 240px;
      padding-right: 40px;
      // background-color: blue;
      li{
        font-size: 12px;
      margin-bottom: 15px;
      width: 190px;
      }
    }
    &__help{
      height: 278px;
      padding-right: 40px;
      width: 190px;
      // background-color: pink;
      li{
        font-size: 12px;
      margin-bottom: 15px;
      width: 200px;
      }
    }
    &__privacy{
      height: 166px;
      width: 200px;
      padding-right: 20px;
      // background-color:orange;
      li{
        font-size: 12px;
      margin-bottom: 15px;
      width: 190px;
      }
    }
    &__privacy2{
      height: 166px;
      width: 200px;
      padding-right: 20px;
      margin-top:37px;
      li{
        font-size: 12px;
      margin-bottom: 15px;
      width: 190px;
      }
    }
    &__country{
      height: 86px;
      width: 72px;
      padding-right: 20px;
      // background-color: greenyellow;
      li{
        font-size: 12px;
      margin-bottom: 15px;
      width: 190px;
      }
    }
    .subject{
      font-weight: bold;
      margin-bottom: 15px;
      color: white;
    }
  }
  &__footer{
    height: 31px;
    width: 1020px;
    margin: 30px 190px 20px;
    // background-color: yellow;
    display: flex;
    &__text{
      margin-left: 350px;
      font-size: 12px;
      color: white;
    }
    .footer-img{
      width: 124px;
      height: 31px;
    }
  }
}
.foot-sns{
  margin-top: 30px;
  height: 30px;
  // background-color:pink;
  .f-icon{
    font-size: 30px;
    color: white;
    margin-right: 20px;
  }
}




