.mys--purchase {
  height: 245px;
  background-color: #fff;
  &__head {
    padding: 0 16px;
    background-color: #fafafa;
    font-size: 16px;
    line-height: 72px;
  }
  &__situation li {
    display: inline-block;
    padding: 20px 125px;
    font-weight: bold;
  }
  .active {
    
    
    padding: 20px 135px;
  }
  &__situation {
    background-color: #eee;
    
  }
  .kako {
    background: #fff;
    border-top: 2px solid #ea352d;
  }

&--under{
  &--box {
    background-image: image-url("me.image.jpag.png");
    padding: 160px 0 60px;
    text-align: center;
   }        
 }
}
