.user-main__sell{
  height: 245px;
  background-color: #fff;
  position: relative;
  &__head {
    width: 700px;
    padding: 0 16px;
    background-color: #fafafa;
    font-size: 16px;
    font-weight: bold;
    line-height: 72px;
  }
  &__body  {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    height: 74px;
    text-align: center;
    line-height: 74px;
    .active {
      border-top: 2px solid #ea352d;
      width: 244px;
      // background-color: #eee;
      // display: inline-block;
      // padding: 20px 135px;
    }
    .dealing {
      background-color:#eee;
      width: 244px;
    }
    .gray{
      background-color:white;
      color:black;
      border-top: 2px solid #ea352d;
    }
    .white{
      background-color: #eee;
      border-style: none;
    }
    .sold {
      background: #eee;
      width: 244px;
    }
  }
  .white-box{
     position: absolute;
     width: 244px;
     height: 74px;
     background-color: #fff;
     top:72px;
     left:488px;
     border-top: 2px solid #ea352d;
     text-align: center;
     line-height: 74px;
     font-weight: bold;
  }
  
}

