.single_header{
  height: 128px;
  width: 100vw;
  padding-top: 40px;
  box-sizing: border-box;
  &__link{
    text-align: center;
  }
}
.single_footer{
  height: 220px;
  width: 456px;
  margin: 0 auto;
  padding: 40px 0;
  &__clearfix{
    color: gray;
    font-size: 12px;
    display: flex;
    justify-content: center;
    text-align: center;
    &__li{
      margin-left: 16px;
    }
  }
}

//ここからはユーザーのマイページ

.mypage {
  margin: 40px auto 0 ;
  width: 1020px;
  padding: 0 0 40px;
  &:after {
    content: "";
    clear: both;
    display: block;
  }
  .mymain {
    float: right;
    width: 700px;
    &--user{
      &__img {
        background-image: image-url("back.jpag");
        height: 200px;
        position: relative;
        padding: 20px;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        &__block {
          display: block;
          margin-top: 40px;
          &__face {
            width: 60px;
            height: 60px;
            margin: 0 auto;
            overflow: hidden;
            border-radius: 50px;
        }
      }
      &__name {
        font-weight: bold;
        &__text div{
          display: inline-block;
          margin: 0 0 0 16px;
          font-size: 16px;
          &__text div,span {
            margin: 0 0 0 8px;
        }
      }     
    }
  }
        
      &__todo {
        background: #fff;
        &__active {
          display: inline-block;
          padding: 20px 129px;
          border-top: 2px solid #ea352d;
        }
          &__do {
            background: #eee;
            display: inline-block;
            padding: 20px 130px ;
        }
        &__list {
          height: 500px;
          background-image: image-url("me.image.jpag.png");
          border-bottom: 1px solid #eee;    
        }
        &__btn {
          padding: 16px;
        }
          &__btn a{
            display: block;
            height: 56px;
            margin: 0 auto;
            background: #eee;
            color: #333;
            line-height: 56px;
            text-align: center;
        }
      }
    }
    &--purchase {
      margin: 40px 0 0;
      background-color: #fff;
      &__head {
        padding: 0 16px;
        background-color: #fafafa;
        font-size: 16px;
        line-height: 72px;
      }
      &__situation li {
        display: inline-block;
        padding: 20px 125px;
        font-weight: bold;
      }
      .active {
        border-top: 2px solid #ea352d;
        background: #fff;
        padding: 20px 135px;
      }
      &__situation {
        background-color: #eee;
        
      }
    
    &--under{
      &--box {
        background-image: image-url("me.image.jpag.png");
        padding: 160px 0 60px;
        text-align: center;
       }        
     }
    }
  }
  .myside {
    float: left;
    width: 280px;
    margin: 0 40px 0 0;
    list-style: none;
    &--top {
      &__list{
        position: relative;
        display: block;
        display: flex;
        justify-content: space-between;
        padding: 16px;
        background: #fff;
        color: #333;
        border-top: 1px solid #eee;
        &__active {
          font-weight: 600;
          position: relative;
          display: block;
          display: flex;
          justify-content: space-between;
          padding: 16px;
          background: #eee;
          color: #333;
        }
      }
    }
    &--while {
      margin: 40px 0 0;
      font-weight: bold;
      &__list__tag {
        position: relative;
        display: block;
        display: flex;
        justify-content: space-between;
        padding: 16px;
        background: #fff;
        font-size: 14px;
        color: #333;
        border-top: 1px solid #eee;
      }
    }
    &--under {
      margin: 40px 0 0;
      font-weight: bold;
      &__list {
        position: relative;
        display: block;
        display: flex;
        justify-content: space-between;
        padding: 16px;
        background: #fff;
        font-size: 14px;
        color: #333;
        border-top: 1px solid #eee;
      }
    }
  } 
}

// ここからユーザーページパンくず
.header-user-nav{
  height: 49px;
  width:100%;
  background-color: #fff;
  border-top: 1px solid #eee;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  &__pankz{
    margin: 0 15%;
    padding: 13px 0;
    font-size: 14px;
    white-space: normal;
    a{
      &:hover{
        color: rgb(109, 109, 109);
        text-decoration: underline;
      }
      color: #000000;
    }
    i{
      color: #a9a9a9;
      padding: 0 10px;
      font-size: 16px;
    }
    .last-pankz{
      font-weight: bold;
    }
  }
}

// ここからログアウトボタン
.logout {
  margin: 40px auto 40px;
  width: 70%;
  display: flex;
  .myside {
    width: 280px;
    margin: 0 40px 0 0;
    list-style: none;
    &--top {
      &__list{
        position: relative;
        display: block;
        display: flex;
        justify-content: space-between;
        padding: 16px;
        background: #fff;
        color: #333;
        border-top: 1px solid #eee;
        &__active {
          font-weight: 600;
          position: relative;
          display: block;
          display: flex;
          justify-content: space-between;
          padding: 16px;
          background: #eee;
          color: #333;
        }
      }
    }
    &--while {
      margin: 40px 0 0;
      font-weight: bold;
      &__list__tag {
        position: relative;
        display: block;
        display: flex;
        justify-content: space-between;
        padding: 16px;
        background: #fff;
        font-size: 14px;
        color: #333;
        border-top: 1px solid #eee;
      }
    }
    &--under {
      margin: 40px 0 0;
      font-weight: bold;
      &__list {
        position: relative;
        display: block;
        display: flex;
        justify-content: space-between;
        padding: 16px;
        background: #fff;
        font-size: 14px;
        color: #333;
        border-top: 1px solid #eee;
      }
    }
  }
  &:after {
    content: "";
    clear: both;
    display: block;
  }
  &__main {
    width: 700px;
    height: 180px;
    background-color: #fff;
    .logout-btn{
      height: 50px;
      width: 320px;
      margin: 65px auto;
      color: white;
      font-size: 14px;
      text-align: center;
      line-height: 50px;
      background-color:red;
      display: block;
      &:hover{
        cursor: pointer;
      }
    }
  }
}

//ユーザーマイページ, アドレス, プロフィール, 電話
.user-main {
  margin: 40px auto 0 ;
  width: 1020px;
  padding: 0 0 40px;
  display: flex;
  .mypage__content{
    width: 700px;
    height: 180px;
    background-color: #fff;
    position: relative;
    &__head{
      padding: 8px 24px;
      border-bottom: 1px solid #f5f5f5;
      text-align: center;
      &__text{
        font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
        font-size: 24px;
        font-weight: bold;
      }
    }
    &__image{;
    }
    &__icon{
      display: flex;
      position: absolute;
      top: 120px;
      left: 30%;
      img{
        height: 60px;
        border-radius: 50%;
      }
      .nickname-input{
        height: 28px;
        width: 200px;
        margin: 8px 0 48px 8px;
        vertical-align: middle;
        padding: 10px 16px 8px;
        border-radius: 4px;
        border: 1px solid #ccc;
        background: #fff;
        line-height: 1.5;
        font-size: 16px;
      }
    }
    &__content{
      padding: 40px 16px;
      background-color: #fff;
    }
    textarea.mypage-textarea {
      display: block;
      width: 97%;
      max-width: 100%;
      min-height: 216px;
      padding: 10px;
      border: 1px solid #ccc;
      background: #fff;
      font-size: 16px;
      line-height: 1.5;
    }
    .btn-red {
      background: #ea352d;
      border: 1px solid #ea352d;
      color: #fff;
      display: block;
      width: 100%;
      line-height: 48px;
      font-size: 14px;
      border: 1px solid transparent;
      -webkit-transition: all ease-out .3s;
      transition: all ease-out .3s;
      cursor: pointer;
      text-align: center;
    }
  }
  .address__content{
    width: 700px;
    height: 1083px;
    background-color: #fff;
    position: relative;
    &__head{
      padding: 8px 24px;
      border-bottom: 1px solid #f5f5f5;
      text-align: center;
      &__text{
        font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
        font-size: 24px;
        font-weight: bold;
      }
    }
    &__form{
      height: 1083px;
      background-color: #fff;
      padding: 40px 40px 64px;
      .form-group{
        align-items: center;
        margin-left: 24%;
        margin-bottom: 28px;
        label{
          font-size: 14px;
          font-weight: 600;
          color: #333333;
          display: inline-block;
        }
        .form-require{
          background: #ea352d;
          margin: 0 0 0 8px;
          padding: 2px 4px;
          border-radius: 2px;
          color: #fff;
          font-size: 12px;
          vertical-align: top;
          display: inline-block;
        }
        .form-arbitrary{
          background: #ccc;
          margin: 0 24% 0 8px;
          padding: 2px 4px;
          border-radius: 2px;
          color: #fff;
          font-size: 12px;
          vertical-align: top;
          display: inline-block;
        }
        .input-default{
          height: 28px;
          width: 323px;
          margin: 5px 0;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #fff;
          line-height: 1.5;
          font-size: 16px;
        }
        .select-prefecture{
          width: 76%;
        }
      }
      .btn-red{
        background: #ea352d;
        border: 1px solid #ea352d;
        color: #fff;
        display: block;
        width: 58%;
        line-height: 48px;
        font-size: 14px;
        border: 1px solid transparent;
        -webkit-transition: all ease-out .3s;
        transition: all ease-out .3s;
        cursor: pointer;
        text-align: center;
        margin-left: 24%;
      }
    }
  }
  .phone__content{
    width: 700px;
    background-color: #fff;
    height: 211px;
    &__head{
      padding: 8px 24px;
      border-bottom: 1px solid #f5f5f5;
      text-align: center;
      &__text{
        font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
        font-size: 24px;
        font-weight: bold;
      }
    }
    &__body{
      height: 100%;
      width: 100%;
      align-items: center;
      padding: auto auto;
      &__text{
        margin: auto auto;
      }
    }
  }
}
