.user--main {
  margin: 5vh 18vh;
  background-color: rgb(245, 245, 245);
  height: 2000px;
  .myside {
    width: 280px;
    margin: 0 40px 0 0;
    list-style: none;
    &--top {
      &__list{
        position: relative;
        display: block;
        display: flex;
        justify-content: space-between;
        padding: 16px;
        background: #fff;
        color: #333;
        border-top: 1px solid #eee;
        &__active {
          font-weight: 600;
          position: relative;
          display: block;
          display: flex;
          justify-content: space-between;
          padding: 16px;
          background: #eee;
          color: #333;
        }
      }
    }
    &--while {
      margin: 40px 0 0;
      font-weight: bold;
      &__list__tag {
        position: relative;
        display: block;
        display: flex;
        justify-content: space-between;
        padding: 16px;
        background: #fff;
        font-size: 14px;
        color: #333;
        border-top: 1px solid #eee;
      }
    }
    &--under {
      margin: 40px 0 0;
      font-weight: bold;
      &__list {
        position: relative;
        display: block;
        display: flex;
        justify-content: space-between;
        padding: 16px;
        background: #fff;
        font-size: 14px;
        color: #333;
        border-top: 1px solid #eee;
      }
    }
  }
}
  .user--main__box {
    float: right;
    width: 700px;
    background-color: #fff;
    .user--main__head{ 
      padding: 8px 24px;
      font-size: 24px;
      font-weight: bold;
      border-bottom: 1px solid #f5f5f5;
      text-align: center;
    }
    .user--info {
      padding: 64px;
      &__top {
        margin: 8px 0 0;
        line-height: 1.5;
        font-size: 14px;
        &__right {
          margin: 8px;
          text-align: right;
          font-size: 14px;
          color:skyblue;
        }
      }
      &__name {
        margin: 40px 0 0;
        &__display {
          margin: 8px 0 0;
          &__full {
            margin: 8px 0 0;
          }
        }
      }
      &__kana {
        margin: 40px 0 0;
        &__display {
          margin: 8px 0 0;
          &__full {
            margin: 8px 0 0;
          }
        }
      }
      &__birthday {
        margin: 40px 0 0;
        &__display {
          margin: 8px 0 0;
          &__full {
            margin: 8px 0 0;
          }
        }
      }
      &__post {
        margin: 40px 0 0;
        li {
          display: inline-block;
          font-weight: bold;
        }
        ul {
          display: inline-block;
        }
        input {
          display: block;
          margin: 8px 0 0;
          width: 100%;
          height: 30px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #fff;
          line-height: 1.5;
          font-size: 16px;
        }
      }
      &__prefectures {
        margin: 40px 0 0;
        li {
          display: inline-block;
          font-weight: bold;
        }
        ul {
          display: inline-block;
        }
        text {
          display: block;
          margin: 8px 0 0;
          width: 100%;
          height: 30px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #fff;
          line-height: 1.5;
          font-size: 16px;
        }
      }
      &__city {
        margin: 40px 0 0;
        li {
          display: inline-block;
          font-weight: bold;
        }
        ul {
          display: inline-block;
        }
        input {
          display: block;
          margin: 8px 0 0;
          width: 100%;
          height: 30px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #fff;
          line-height: 1.5;
          font-size: 16px;
        }
      }
      &__address {
        margin: 40px 0 0;
        li {
          display: inline-block;
          font-weight: bold;
        }
        ul {
          display: inline-block;
        }
        input {
          display: block;
          margin: 8px 0 0;
          width: 100%;
          height: 30px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #fff;
          line-height: 1.5;
          font-size: 16px;
        }
      }
      &__bill {
        margin: 40px 0 0;
        li {
          display: inline-block;
          font-weight: bold;
        }
        ul {
          display: inline-block;
        }
        input {
          display: block;
          margin: 8px 0 0;
          width: 100%;
          height: 30px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #fff;
          line-height: 1.5;
          font-size: 16px;
        }
      }
      &__btn {
        margin: 40px 0 0;
        background: #ea352d;
        border: 1px solid #ea352d;
        color: #fff;
        display: block;
        width: 100%;
        line-height: 48px;
        font-size: 14px;
        border: 1px solid transparent;
        -webkit-transition: all ease-out .3s;
        transition: all ease-out .3s;
        cursor: pointer;
        text-align: center;
      }
    }
  }
