.single_header{
  height: 128px;
  width: 100vw;
  padding-top: 40px;
  box-sizing: border-box;
  &__link{
    text-align: center;
  }
}
.single_footer{
  height: 220px;
  width: 456px;
  margin: 0 auto;
  padding: 40px 0;
  &__clearfix{
    color: gray;
    font-size: 12px;
    display: flex;
    justify-content: center;
    text-align: center;
    &__li{
      margin-left: 16px;
    }
  }
}

//ここからはユーザーのマイページ

.mypage {
  margin: 40px auto 0 ;
  width: 1020px;
  padding: 0 0 40px;
  &:after {
    content: "";
    clear: both;
    display: block;
  }
  .mymain {
    float: right;
    width: 700px;
    &--user{
      &__img {
        background-image: url(back.jpag);
        height: 200px;
        position: relative;
        padding: 20px;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        &__block {
          display: block;
          margin-top: 40px;
          &__face {
            width: 60px;
            height: 60px;
            margin: 0 auto;
            overflow: hidden;
            border-radius: 50px;
        }
      }
      &__name {
        font-weight: bold;
        &__text div{
          display: inline-block;
          margin: 0 0 0 16px;
          font-size: 16px;
          &__text div,span {
            margin: 0 0 0 8px;
        }
      }     
    }
  }
        
        
       
      
      &__todo {
        background: #fff;
        &__active {
          display: inline-block;
          padding: 20px 129px;
        }
          &__do {
            background: #eee;
            display: inline-block;
            padding: 20px 130px ;
        }
        &__list {
          height: 500px;
          background-image: url(me.image.jpag.png);
          border-bottom: 1px solid #eee;    
        }
        &__btn {
          padding: 16px;
        }
          &__btn a{
            display: block;
            height: 56px;
            margin: 0 auto;
            background: #eee;
            color: #333;
            line-height: 56px;
            text-align: center;
        }
      }
    }
    &--purchase {
      margin: 40px 0 0;
      background-color: #fff;
      &__head {
        padding: 0 16px;
        background-color: #fafafa;
        font-size: 16px;
        line-height: 72px;
      }
      &__situation li {
        display: inline-block;
        padding: 20px 125px;
        font-weight: bold;
      }
      .active {
        background: #fff;
        padding: 20px 135px;
      }
      &__situation {
        background-color: #eee;
        
      }
    
    &--under{
      &--box {
        background-image: url(me.image.jpag.png);
        padding: 160px 0 60px;
        text-align: center;
       }        
      }
    }
  }
  .myside {
    float: left;
    width: 280px;
    margin: 0 40px 0 0;
    list-style: none;
    &--top {
      &__list{
        position: relative;
        display: block;
        display: flex;
        justify-content: space-between;
        padding: 16px;
        background: #fff;
        color: #333;
        border-top: 1px solid #eee;
        &__active {
          font-weight: 600;
          position: relative;
          display: block;
          display: flex;
          justify-content: space-between;
          padding: 16px;
          background: #eee;
          color: #333;
        }
      }
    }
    &--while {
      margin: 40px 0 0;
      font-weight: bold;
      &__list__tag {
        position: relative;
        display: block;
        display: flex;
        justify-content: space-between;
        padding: 16px;
        background: #fff;
        font-size: 14px;
        color: #333;
        border-top: 1px solid #eee;
      }
     }
    &--under {
      margin: 40px 0 0;
      font-weight: bold;
      &__list {
        position: relative;
        display: block;
        display: flex;
        justify-content: space-between;
        padding: 16px;
        background: #fff;
        font-size: 14px;
        color: #333;
        border-top: 1px solid #eee;
      }
    }
  } 
}


