.user-main__sell{
  height: 245px;
  background-color: #fff;
  position: relative;
  &__head {
    width: 700px;
    padding: 0 16px;
    background-color: #fafafa;
    font-size: 16px;
    font-weight: bold;
    line-height: 72px;
  }
  &__body {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    height: 74px;
    text-align: center;
    line-height: 74px;
    .active-tab {
      border-top: 2px solid #ea352d;
      width: 244px;
      background-color: #fff;
      color:black;
    }
    .body-tab {
      background: #eee;
      text-decoration: none;
      color: #333;
      width: 244px;
    }
  }
  .white-box{
     position: absolute;
     width: 244px;
     height: 74px;
     background-color: #fff;
     top:72px;
     left:488px;
     border-top: 2px solid #ea352d;
     text-align: center;
     line-height: 74px;
     font-weight: bold;
  }
  &__items{
    padding: 24px 24px;
    background-color: #fff;
    &__box{
      .top_ca__ca_block__box__small_box{
        margin: 12px 12px;
        display: inline-block;
        .top_ca__ca_block__box__small_box__image{

        }
        .top_ca__ca_block__box__small_box__price{
          span{
          }
        }
        .top_ca__ca_block__box__small_box__message{
        }
      }
    }
  }
}

