.other-good
  .other-good__img
    = image_tag good.images[0].image, class:"img-6"
  .other-good__text
    .other-good__text__name
      = good.name
    .other-good__text__price
      = good.price
      

  
      