@import "font-awesome-sprockets";
@import "./font-awesome";
@import "./reset";
@import "modules/user";
@import "modules/category";
@import "modules/brand";
@import "modules/toppage";
@import "modules/good";
@import "modules/good-new";
@import "modules/good-image";
@import "modules/signup";
@import "modules/buy";

body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  position: relative;
  header {
    background-color: #FFF;
    height: 100px;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.16);
    .header-inner {
      height: 100px;
      width: 70%;
      max-width: 1020px;
      margin: 0 auto;
      display: flex;
      -webkit-box-pack: justify;
      justify-content: space-between;
      position: relative;
    
      .header-top {
        background-color: #FFF;
        height: 48px;
        width: 100%;
        margin: 0 auto;
        padding: 8px 0 0;
        position: absolute;
        top: 0;
        display: flex;
        .logo {
          padding-top: 3px;
          .top-logo {
            width: 134px;
            .logo-img img {
              height: 34px;
              width: 134px;
            }
          }
        }
        .form {
          height: 36px;
          width: calc(100% - 134px);
          padding: 0 0 0 10px;
          margin-left: 36px;
          form {
            height: 100%;
            background-color: rgb(245, 245, 245);
            font-size: 16px;
            line-height: 1.4em;
            -webkit-appearance: none;
            border-width: 1px;
            border-style: solid;
            border-color: rgb(204, 204, 204);
            border-image: initial;
            border-radius: 4px;
            outline: none;
            transition: all 0.3s ease-out 0s;
            display: flex;
            .text-field {
              border: none;
              height: 36px;
              width: 100%;
              font-size: 20px;
              line-height: 50px;
            }
            .icon-btn {
              
              .icon-search {
                
              }
            }
          }
        }
      }
      .header-nav {
        background-color: #FFF;
        height: 52px;
        width: 100%;
        position: absolute;
        top: 48px;
        .header-nav-box {
          height: 44px;
          margin-top: 8px;
          display: flex;
          .header-cat-nav {
            height: 100%;
            display: flex;
            .header-nav-cat {
              width: 160px;
              text-decoration: none;
              margin-right: 12px;
              .nav-cat {
                max-width: 100%;
                max-height: 100%;
                color: rgb(234, 53, 45);
                height: 12px;
                font-size: 14px;
                font-weight: 600;
                font-style: normal;
                line-height: 36px;
                white-space: nowrap;
                text-align: center;
                text-decoration: none;
                .icon-cat {
                  height: 12px;
                }
                span {
                  color: #333333
                }
              }
            }
            .header-nav-brand {
              width: 160px;
              text-decoration: none;
              margin-right: 12px;
              .nav-brand {
                max-width: 100%;
                max-height: 100%;
                color: rgb(234, 53, 45);
                height: 12px;
                font-style: normal;
                font-size: 14px;
                font-weight: 600;
                line-height: 36px;
                white-space: nowrap;
                text-align: center;
                text-decoration: none;
                .icon-brand {
                  height: 12px;
                }
                span {
                  color: #333333;
                }
              }
            }
          }
          .header-login-nav {
            height: 100%;
            vertical-align: baseline;
            border-width: 0px;
            border-style: initial;
            border-color: initial;
            border-image: initial;
            position: absolute;
            right: 0;
            display: flex;
            .header-user-nav{
              display: flex;
              &__lists{
                &__likes{

                }
                &__note{

                }
                &__todo{

                }
                &__mypage{
                  display: flex;
                }
              }
            }

            .btn-red {
              height: 30px;
              width: 104px;
              background-color: rgb(234, 53, 45);
              color: rgb(255, 255, 255);
              display: block;
              font-size: 14px;
              line-height: 30px;
              border-width: 1px;
              border-style: solid;
              border-color: rgb(234, 53, 45);
              border-image: initial;
              border-radius: 4px;
              text-align: center;
              transition: all 0.3s ease-out 0s;
              padding: auto auto;
              margin-right: 11px;
              text-decoration: none;
            }
            .header-login {
              height: 30px;
              width: 75px;
              background-color: rgb(255, 255, 255);
              color: rgb(0, 149, 238);
              display: block;
              font-size: 14px;
              line-height: 30px;
              border-width: 1px;
              border-style: solid;
              border-color: rgb(0, 149, 238);
              border-image: initial;
              border-radius: 4px;
              text-align: center;
              transition: all 0.3s ease-out 0s;
              padding: 0 auto;
              text-decoration: none;
            }
          }
        }
      }
    }
    .header-ca-nav{
      width:100%;
      background-color: #fff;
      border-top: 1px solid #eee;
      box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
      text-decoration: none;
      .header-ca-nav-pankuze{
        margin: 0 15%;
        padding: 13px 0;
        font-size: 14px;
        white-space: normal;

        a{
          color: #000000 ;
        }
        i{
          color: #a9a9a9;
          padding: 0 10px;
          font-size: 16px;
        }
        .pankuzu-ca-last {
          font-weight: bold;
        }
      }
    }
  }
  .post-button {
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 1;
    .btn-post {
      position: relative;
      .post-btn {
        height: 100%;
        width: 100%;
        .post-btn-img {
        }
        .post-btn-text {
          height: 22px;
          width: 100%;
          font-size: 22px;
          color: #FFF;
          text-align: center;
          position: absolute;
          top: 30px;
        }
        .camera-img {
          height: 54px;
          margin-top: 8px;
          position: absolute;
          top: 58px;
          left: 50px;
          .img-camera {
            color: #FFF;
            padding: 0 auto;
          }
        }
      }
    }
  }
}
 

